* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-links, .socmed-links {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
    font-size: 18px;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

.socmed-links {
    flex: 1;
    justify-content: flex-end;
}

.socmed-links img {
    margin: 5px;
}